.panel{
  background-color: #dfe3e6;
  border-radius: 3px;
  padding: 12px ;
  width: 273px;
  margin-right: 12px;
  display: flex;
  flex-direction: column;
  max-height: 90vh;
&__title{
  margin: 12px;
}
  &-items{
    max-height: 80vh;
    overflow: auto;
  }
  &__bottom{
    &-add-btn{
      padding: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 0 0 3px 3px;
      cursor: pointer;
      color: #6b808c;
      &:hover{
        background-color: darken(#dfe3e6,10);
        color: darken(#6b808c,50);
        & svg{
          fill: darken(#6b808c,50);
        }
      }
      & svg{
        margin-right: 8px;
        height: 13px;
        width: 13px;
        fill:#6b808c;
      }
    }
  }

}